.heading {
    margin-top:none;
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}
.inp {

    width: 30%;
    margin-left:31%;
    padding :1.3%;
    font-Size: 20px;
    border-Radius:10px;
    margin-bottom:3%
}
button{
    width: 10%;
    margin-left:3%;
    padding :1.3%;
    font-Size: 20px;
    background-Color: white;
    border-Radius:10px;
    cursor: pointer;
    margin-bottom:3%
}